{:cljsjs {:autho [cljsjs/auth0 "6.3.0-0"]
          :c3  [cljsjs/c3 "0.4.10-0"]
          :chemdoodle [cljsjs/chemdoodle "7.0.1"]
          :codemirror [cljsjs/codemirror "5.1.0-2"]
          :csslayout [cljsjs/css-layout "0.0.2-0"]
          :csv [cljsjs/csv "1.1.1-0"]
          :d3 [cljsjs/d3 "3.5.5-3"]
          :device [cljsjs/device "0.2.7-0"]
          :dimple [cljsjs/dimple "2.1.2-0"]
          :document-register-element [cljsjs/document-register-element "0.4.3-0"]
          :dom4 [cljsjs/dom4 "1.4.5-0"]
          :dropbox [cljsjs/dropbox "0.10.3-0"]
          :fabric [cljsjs/fabric "1.5.0-0"]
          :firebase [cljsjs/firebase "2.2.7-1"]
          :fixed-data-table [cljsjs/fixed-data-table "0.3.0-0"]
          :flot [cljsjs/flot "0.8.3-0"]
          :gl-matrix [cljsjs/gl-matrix "2.3.0-jenanwise-0"]
          :google-maps [cljsjs/google-maps "3.18-1"]
          :highlight [cljsjs/highlight "8.4-0"]
          :leaflet [cljsjs/leaflet "0.7.3-4"]
          :markdown [cljsjs/markdown "0.6.0-beta1-0"]
          :matter [cljsjs/matter "0.8.0-0"]
          :medium-editor [cljsjs/medium-editor "4.8.0-0"]
          :moment [cljsjs/moment "2.9.0-0"]
          :mui [cljsjs/mui "0.1.11-0"]
          :mustache [cljsjs/mustache "1.1.0-0"]
          :oauthio [cljsjs/oauthio "0.4.0-0"]
          :object-assign-shim [cljsjs/object-assign-shim "0.1.0-1"]
          :openlayers [cljsjs/openlayers "3.5.0-1"]
          :pako [cljsjs/pako "0.2.7-0"]
          :papaperse [cljsjs/papaparse "4.1.1-1"]
          :peg [cljsjs/peg "0.8.0-0"]
          :pikaday [cljsjs/pikaday "1.3.2-0"]
          :pouchdb [cljsjs/pouchdb "3.5.0-0"]
          :react [cljsjs/react "0.13.3-1"]
          :react-bootstrap [cljsjs/react-bootstrap "0.23.7-0"]
          :react-router [cljsjs/react-router "0.13.2-0"]
          :react-with-addons [cljsjs/react-with-addons "0.13.3-0"]
          :showdown [cljsjs/showdown "0.4.0-1"]
          :stripe [cljsjs/stripe "2.0-0"]
          :three [cljsjs/three "0.0.70-0"]
          :topojson [cljsjs/topojson "1.6.18-0"]
          :vega [cljsjs/vega "1.5.0-0"]
          :waypoints [cljsjs/waypoints "3.1.1-0"]
          }
 }

